/********************************
hEADER STYLES
********************************/

header {
    background-color: #fafafa;
}

p.symbone:after { 
    content: '\21D2'; 
}

p.symbtwo::after {
    content: '\21D2';
}

img.first-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.bold{
    font-weight: 700;
}

.unmarked {
        margin-left: 0;
        padding-left: 4em;
}

.unmarked {
    list-style-type: circle;
}